@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: #fff;
  --secondary: #F7F6F3;
  --primary-text: #000;

  background: var(--background);
}

.dark {
  --background: #2F3438;
  --secondary: red;
  --primary-text: green;

  background: var(--background);
}

body {
  font-family: 'Inter', sans-serif;
}
